In [1]:
jupyterhub = '/dados/home/joaoviniciuspr'
jupyterlab = '/Users/jjoao'
directory = jupyterlab+'/IC_Redes/Trabalhos/Series/Irmao_do_Jorel/Temp1/Ep1'

In [2]:
import pandas as pd
import sys
sys.path.insert(0,jupyterlab+'/IC_Redes/Funcoes')
from ID import ID
from Scene import Scene
from Relation import Relation

In [3]:
IJ=ID(directory)

In [4]:
IJ.new('Irmao do Jorel','Irmao')
IJ.new('Jorel')
IJ.new('Nicolau','Nico')
IJ.new('Dona Danuza','Mae')
IJ.new('Sr Edson','Pai')
IJ.new('Vovo Juliana','Juju')
IJ.new('Vovo Gilda','Gigi')
IJ.new('Lara')

In [5]:
IJ.new('Gesonel','Geso')
IJ.new('Funcionario da Shostners','Func')
IJ.new('Debora','Deb')
IJ.new('Catiane','Cat')
IJ.new('Veronica','Vero')
IJ.new('Flavia','Fla')
IJ.new('Roberto Perdigotto','Perdi')
IJ.new('William Shostners','Will')
IJ.new('Steve Magal','Steve')
IJ.new('Zaza')
IJ.new('Rambozo','Rambo')
IJ.new('Tosh','Dog')
IJ.new('Patinador Dentuco','Pat1')
IJ.new('Patinador de Oculos','Pat2')

In [6]:
IJ.data()

                        Label   Nick
ID
001            Irmao do Jorel  Irmao
002                     Jorel
003                   Nicolau   Nico
004               Dona Danuza    Mae
005                  Sr Edson    Pai
006              Vovo Juliana   Juju
007                Vovo Gilda   Gigi
008                      Lara
009                   Gesonel   Geso
010  Funcionario da Shostners   Func
011                    Debora    Deb
012                   Catiane    Cat
013                  Veronica   Vero
014                    Flavia    Fla
015        Roberto Perdigotto  Perdi
016         William Shostners   Will
017               Steve Magal  Steve
018                      Zaza
019                   Rambozo  Rambo
020                      Tosh    Dog
021         Patinador Dentuco   Pat1
022       Patinador de Oculos   Pat2

In [7]:
IJ.csv()

In [8]:
IJ2=Scene(directory)

In [9]:
IJ2.timei(0,22)
IJ2.news([1,2,3,4,5,6,9,20])
IJ2.timef(1,21)
IJ2.news([1,2,3,4,5,6,9,10])
IJ2.timef(1,57)
IJ2.news([1,3,5,8])
IJ2.timef(2,26)
IJ2.news([2,3,5,11,12,13,14])
IJ2.timef(3,7)
IJ2.news([1,3,5])
IJ2.timef(3,23)
IJ2.news([5,7,9,15,4,16,18,21,22])
IJ2.timef(4,23)
IJ2.news([2,3,4,5,6,1,7,9,15,16,18])
IJ2.timef(4,59)

In [10]:
IJ2.data()

,Min_i,Seg_i,Min_f,Seg_f,Number,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11
Scene,,,,,,,,,,,,,,,,
Scene1,0,22,1,21,8,001,002,003,004,005,006,009,020,,,
Scene2,1,22,1,57,8,001,002,003,004,005,006,009,010,,,
Scene3,1,58,2,26,4,001,003,005,008,,,,,,,
Scene4,2,27,3,7,7,002,003,005,011,012,013,014,,,,
Scene5,3,8,3,23,3,001,003,005,,,,,,,,
Scene6,3,24,4,23,9,004,005,007,009,015,016,018,021,022,,
Scene7,4,24,4,59,11,001,002,003,004,005,006,007,009,015,016,018
Scene8,5,0,,,,,,,,,,,,,,

In [11]:
IJ2.csv()

In [12]:
IJ3=Relation(directory)

In [13]:
IJ3.execut()

In [14]:
IJ3.data()

In [15]:
IJ3.csv()

         Source Target   Weight
Relation
1           001    002      2.2
2           001    003     2.95
3           001    004      2.2
4           001    005     2.95
5           001    006      2.2
6           001    009      2.2
7           001    020        1
8           002    003  2.88333
9           002    004      2.2
10          002    005  2.88333
11          002    006      2.2
12          002    009      2.2
13          002    020        1
14          003    004      2.2
15          003    005  3.63333
16          003    006      2.2
17          003    009      2.2
18          003    020        1
19          004    005      3.2
20          004    006      2.2
21          004    009      3.2
22          004    020        1
23          005    006      2.2
24          005    009      3.2
25          005    020        1
26          006    009      2.2
27          006    020        1
28          009    020        1
29          001    010      0.6
30          002    010      0.6
...         ...    ...      ...
76          009    016      1.6
77          009    018      1.6
78          009    021        1
79          009    022        1
80          015    016      1.6
81          015    018      1.6
82          015    021        1
83          015    022        1
84          016    018      1.6
85          016    021        1
86          016    022        1
87          018    021        1
88          018    022        1
89          021    022        1
90          001    007      0.6
91          001    015      0.6
92          001    016      0.6
93          001    018      0.6
94          002    007      0.6
95          002    015      0.6
96          002    016      0.6
97          002    018      0.6
98          003    007      0.6
99          003    015      0.6
100         003    016      0.6
101         003    018      0.6
102         006    007      0.6
103         006    015      0.6
104         006    016      0.6
105         006    018      0.6

[105 rows x 3 columns]